body{

    font-family: "Arial";

    margin: 0;

    padding: 0;

    border: 0;

}

header {

    background-color: #2c2b2a;

    padding: 20px;

}

nav{

    position: absolute;

    right: 0;

    top: 70px;

}

nav li{

    display: inline;

    margin: 0 0 0 15px;

}

nav a{

    color: white;

    text-decoration: none;

    text-transform: uppercase;

    font-weight: bold;

    font-size: 22px;

}

/*Estilização do link quando o mouse estiver em cima*/

nav a:hover{

    color: red;

    text-decoration: underline;

}

.logo_caixa{

    position: relative;

    width: 940px;

    margin: auto;

}

.logo{

    width: 50%;

}

.banner {
    width: 100%;
}

/* Sobre a pizzaria Seu Pizza */

.pizza {
    width: 100px;
    float: left;
    margin: 0 20px 0;
}

.titulo-pizza {
    text-align: center;
    clear: left;
    font-size: 3em;
}

.sobre-pizzaria {
    background-color: #FFFFFE;
    width: 100%;
    padding-left: 80px;
}