body {
    overflow: hidden;
    background-color: black;
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;
}

.promocao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promocao__img {
    margin-top: 1em;
    width: 40%;
}

.promocao__txt {
    background-color: darkorange;
    padding: .5em;
    font-weight: bold;
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promocao__preco {
    margin-top: .5em;
    color: red;
    font-size: 20px;
}